.inventory-container__right-top {
    background-color: #16181B;
    height: 100%;
}

.inventory-container__right-top-inner {
    padding: 5px;
}

.right-top-inner__block {
    width: 40px;
    height: 40px;

    margin: 5px;
    display: inline-block;

    border: 1px dotted #c0c0c0;
    background: #1B1E25;
}