<div class="ui">
  <div class="inventory" cdkDragBoundary=".ui" cdkDrag>
    <div class="inventory-container-top" cdkDragHandle>Инвентарь</div>
  
    <!-- inventory-container -->
    <div class="inventory-container">
      <!-- inventory-container__left -->
  
      <div class="inventory-container__left">
        <app-left-block></app-left-block>
      </div>
      <!-- /inventory-container__left -->
      
      <!-- inventory-container__right -->
      <div class="inventory-container__right">
        <app-right-block></app-right-block>
      </div>
      <!-- /inventory-container__right -->

    </div>
    <!-- /inventory-container -->

  </div>
</div>