/*  COLORS:

white - rgba(233, 235, 240, 1);
black - rgba(15, 19, 26, .8);
blue - rgba(128, 221, 255, 1);

*/

.app {
    background-color: transparent;
}

.huds {
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.huds-health {
    border: 1px solid rgba(15, 19, 26, .3);
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.huds-health__line {
    background-color: rgba(148, 13, 13, 1);
    height: 100%;
}

.huds-health__icon {
    color: rgba(148, 13, 13, 1);
    font-size: 2rem;
    position: absolute;
    left: -2.5rem;
    bottom: -1rem;
}