.app {
    background-color: transparent;
}

.huds {
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.huds-menu-data {
    color: rgba(233, 235, 240, 1);
    padding: .5rem;
    width: 15rem;
    display: inline-block;
    background-color: rgba(15, 19, 26, .8);
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.huds-eat img, .huds-health img, .huds-temperature img, .huds-dehydration img {
    width: 2.2rem;
}


.CircularHudWithImage .MuiCircularProgress-colorSecondary {
    color: green;
}