.inventory-container__top-title {
    border: 1px solid #fff;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.inventory-container__left-list {

}

.inventory-container__left-block {
    border: 1px solid #767F92;
    margin-bottom: 10px;
    padding: 5px;

}

.inventory-container__left-block:hover {
    opacity: .8;
}
